body {
    font-family: 'Handlee', cursive;
    margin: 20px;
    background-image: url(../img/bcg.jpg);
    margin: 0;
    padding: 0;
}


h1 {
    color: #565656;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 400;
    margin: 0;
    margin-left: 5px;
    margin-bottom: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: rgba(255, 255, 255, .2);
    border: 1px solid #999;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    color: dimgray;
}

.square:focus {
    outline: none;
    background-color: red;
}

.square:hover {
    border-color: #1c71c3#1C71C3;
    cursor: pointer;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    text-align: center;
    margin: 40px 0;

}


.info {
    margin-bottom: 20px;
    color: #565656;
    font-size: 20px;
}

.resetGame {
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid #1a85af;
    padding: 5px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    color: #1a85af;
    border-radius: 5px;
    font-size: 16px;
    transition: .3s;

}

.resetGame:hover {
    color: white;
    background-color: #1a85af;
}

.newGame {
    cursor: pointer;
    color: #1a85af;
    border: none;
    background-color: transparent;
    font-size: 25px;
}

button {
    font-family: 'Handlee', cursive;
}

.imgPicture {
    height: 60px;
    width: auto;
    display: block;
}

.header {
    width: 100%;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-family: 'Gloria Hallelujah', cursive;
    height: 150px;
    box-shadow: 10px 2px 20px grey;
}

.color {
    color: #27a9e0;
    position: relative;
    bottom: 8px;
    font-size: 200px;
    font-size: 90px;
}



